<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <title>
      {% block title %}
        NFL TEAMS
      {% endblock %}
    </title>
    {% block stylesheets %}
      {{ encore_entry_link_tags('app') }}
    {% endblock %}
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark myNav">
        <a class="navbar-brand" href="https://www.nfl.com/" target="_blank"><img height="35px" src="https://static.www.nfl.com/image/upload/v1554321393/league/nvfr7ogywskqrfaiu38m.svg" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" href="{{ path('home') }}">Home <span class="sr-only">(current)</span></a>
            <a class="btn btn-primary" href="{{ path('listTeams') }}">List Teams</a>
            <a class="btn btn-primary" href="{{ path('insertTeam') }}">Create Team</a>
            <a class="btn btn-success" href="{{ path('app_login') }}">Login</a>
            <a class="btn btn-secondary" href="{{ path('createUser') }}">Register</a>
            <a class="btn btn-secondary" href="{{ path('createAdmin') }}">Register Admin</a>

            {% if is_granted('ROLE_USER') %}
              <a href="{{ path('app_logout') }}" class="btn btn-danger">Logout</a>
              <p class="nav-link">Username: {{ app.user.username }}</p>
            {% endif %}
          </div>
        </div>
      </nav>

      {% block contenido %}

      {% endblock %}
    </div>
  </body>
</html>
