{% extends 'teams/baseTeams.html.twig' %}

{% block contenido %}
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2>{{ team.name }} Nº {{ team.id }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="{{ team.logo }}" />
      </div>
      <div class="col">
        <div class="row">
          <div class="col">{{ team.city }}</div>
          <div class="col">{{ team.headCoach }}</div>
          <div class="col">{{ team.owner }}</div>
          <div class="col">{{ team.division }}</div>
          <div class="col">{{ team.established }}</div>
        </div>
         <div class="row">
              <ul>
                {% for stadium in team.stadiums %}
                <li>{{ stadium.name }}</li>
                {% endfor %}
              </ul>
            </div>
      </div>
    </div>
  </div>
{% endblock %}
